<!DOCTYPE html>
<html lang="ko">
<head>

    <!-- Title -->
    <title>Back Office</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="robots" content="all">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/css/admin/reset.css">
    <link rel="stylesheet" href="/css/admin/datepicker.min.css">
    <link rel="stylesheet" href="/css/admin/components.css">
    <link rel="stylesheet" href="/css/admin/common.css">

    <!-- Javascript -->
    <script src="/js/lib/jquery-3.4.1.min.js"></script>
    <script src="/js/admin/datepicker/datepicker.min.js"></script>
    <script src="/js/admin/datepicker/i18n/datepicker.ko-KR.js"></script>
    <script src="/js/admin/common.js"></script>

</head>
<body class="login">
<div class="wrap">
    <h1 class="blind">Back Office</h1>
    <div class="login_field">
        <form>
            <h2><strong>office</strong> 관리자 로그인</h2>
            <fieldset>
                <legend class="blind">office 관리자 로그인</legend>
                <table>
                    <caption class="blind">로그인</caption>
                    <tr>
                        <th scope="row"><label for="chk_id">아이디</label></th>
                        <td><input type="text" id="chk_id" class="inputBox" placeholder="아이디를 입력해주세요."></td>
                    </tr>
                    <tr>
                        <th scope="row"><label for="chk_pass">비밀번호</label></th>
                        <td><input type="password" id="chk_pass" class="inputBox" placeholder="비밀번호를 입력해주세요."></td>
                    </tr>
                    <tr>
                        <th scope="row"><span class="blind">아이디 저장 여부</span></th>
                        <td><input type="checkbox" id="chk_log"><label for="chk_log" class="checkBox i_check">아이디 저장</label></td>
                    </tr>
                </table>
            </fieldset>
            <button type="submit" class="btn btn_login">Login</button>
        </form>
    </div>
</div>
</body>
</html>